.inserir{
  color: #eff6e0;
  justify-items: center;
  text-align: center;
  padding: 20px 0px 30px 0px;
 
}
.section{
  padding: 15px;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 500px;
  padding-top: 20px;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border: 2px solid #AEC3B0;
  box-shadow: 0 0 6px #01161E,
  0 0 12px #124559,
  0 0 7px #dae4e9;
}

.forms input {
  margin-bottom: 10px;
  height: 30px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #a0a0a0;
}

.forms button {
  display: inline;
  flex-direction: row;
  align-items: baseline;
  margin: 10px 5px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eff6e0;
  height: 45px;
  width: 110px;
  border-radius: 40px 40px 40px;
  cursor: pointer;
  background: #124559;
  border: 2px solid #AEC3B0;
  box-shadow: 0 0 6px #01161E,
  0 0 12px #124559,
  0 0 7px #dae4e9;
  cursor: pointer;
}

.forms button:hover{
  background-color: #01161E;
  margin: 0;
  transform: scale(0.9);
  transition: 0.6s;
}

.botoes{
  padding: 15px;
}























/*.box {
    border: 1px solid rgba(255, 228, 196);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    width: 90%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 0 6px rgb(255, 255, 255),
    0 0 12px rgb(255, 255, 255),
    0 0 30px rgb(0, 0, 0);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 100%;
    margin-top: 0px;
    margin: 0px 50px 0px;
  }

.forms {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90px;
    width: 500px;
    margin-top: 5px; 
  }
*/
