*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #EFF6E0;
}

.menu{
    background-color: #01161E;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    margin: auto 20px;
}

.menu ul li{
    font-size: 20pt;
}