.boasvindas-container{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.btn-rota{
  width: 150px;
  background-color: #01161E;
  color: white;
  border-radius: 12px;
  border: none;
  height: 40px;
  transition-duration: 0.4s;
}

.btn-rota:hover{
  background-color: #AEC3B0;
  cursor:pointer;
  color: #124559;
}