.pesquisa-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.pesquisar{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item-cardapio-container{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  width: max-content;
  justify-content: space-around;
}

.texto-item-cardapio{
  width: 700px;
}

.btn-pesquisar{
  width: 100px;
  background-color: rgb(13, 13, 48);
  color: white;
  border-radius: 12px;
  border: none;
  height: 30px;
  transition-duration: 0.4s;
}

.btn-pesquisar:hover{
  background-color: #654cd3;
  cursor:pointer;
}