.div-card-colaboradores{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    margin: 20px auto;
    justify-content: center;
    gap: 50px;
    width: 100%;
    overflow-y: scroll;
}

.div-card-colaboradores .card-colaborador{
    text-align: center;
    max-width: 500px;
    word-wrap: break-word;
    height: 600px;
}

.div-card-colaboradores .card-colaborador h3{
    margin-bottom: 20px;
    font-size: 30pt;
}