.editar_btn{
  width: 30%;
  background-color: rgb(13, 13, 48);
  color: white;
  border-radius: 12px;
  height: 40px;
  transition-duration: 0.4s;
}

.editar_btn:hover{
  background-color: #654cd3;
  cursor:pointer;
}