table, th, td{

    padding: 20px;

    border: solid white 1px;
    border-collapse: collapse;
    
    font-size: 14.3px;

    height: auto;
    width: auto;
    text-align: center;
}

th{
    font-size: 20px;
}

table {
    
    border: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
        
}

