.post_cardapio{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  align-items: center;
  padding: 20px;
}



.inserir_inp{
  width: 70%;
}

.Cadatrar_btn{
  width: 30%;
  background-color: rgb(13, 13, 48);
  color: white;
  border-radius: 12px;
  border: none;
  height: 40px;
  transition-duration: 0.4s;
}

.Cadatrar_btn:hover{
  background-color: #654cd3;
  cursor:pointer;
}
