.cardapio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.cardapio-botoes{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  width: 50vw;
}

.btn{
  width: 100%;
  background-color: rgb(13, 13, 48);
  color: white;
  border-radius: 12px;
  border: none;
  height: 40px;
  transition-duration: 0.4s;
}

.btn:hover{
  background-color: #654cd3;
  cursor:pointer;
}



