.cardapio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.cardapio-botoes{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  width: 50vw;
}

button{
  width: 100%;
}



